plugins/chm/chm-2.1.xsd

<schema xmlns:rg="urn:radargun:plugins:chm:2.1" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:radargun:plugins:chm:2.1" version="1.0" xmlns="http://www.w3.org/2001/XMLSchema">
   <!--From plugin-chm-2.1.0.Final.jar-->
   <complexType name="org-radargun-service-chm-service">
      <annotation>
         <documentation>ConcurrentHashMap - not a distributed cache.</documentation>
      </annotation>
      <sequence maxOccurs="1" minOccurs="1"/>
   </complexType>
   <element name="default" type="rg:org-radargun-service-chm-service"/>
   <element name="map" type="rg:org-radargun-service-chm-service"/>
</schema>
