reporters/reporter-default/reporter-default-2.1.xsd

<schema xmlns:rg="urn:radargun:reporters:reporter-default:2.1" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:radargun:reporters:reporter-default:2.1" version="1.0" xmlns="http://www.w3.org/2001/XMLSchema">
   <!--From reporter-default-2.1.0.Final.jar-->
   <complexType name="org-radargun-reporting-csv-csv-reporter">
      <sequence maxOccurs="1" minOccurs="1">
         <element maxOccurs="1" minOccurs="0" name="compute-total" type="rg:boolean">
            <annotation>
               <documentation>Compute aggregated statistics from all nodes. Default is true.</documentation>
            </annotation>
         </element>
         <element maxOccurs="1" minOccurs="0" name="ignore" type="string">
            <annotation>
               <documentation>Slaves whose results will be ignored.</documentation>
            </annotation>
         </element>
         <element maxOccurs="1" minOccurs="0" name="separator" type="string">
            <annotation>
               <documentation>Separator of columns in the CSV file. Default is ';'</documentation>
            </annotation>
         </element>
         <element maxOccurs="1" minOccurs="0" name="target-dir" type="string">
            <annotation>
               <documentation>Directory into which will be report files written.</documentation>
            </annotation>
         </element>
      </sequence>
      <attribute name="compute-total" type="rg:boolean">
         <annotation>
            <documentation>Compute aggregated statistics from all nodes. Default is true.</documentation>
         </annotation>
      </attribute>
      <attribute name="ignore" type="string">
         <annotation>
            <documentation>Slaves whose results will be ignored.</documentation>
         </annotation>
      </attribute>
      <attribute name="separator" type="string">
         <annotation>
            <documentation>Separator of columns in the CSV file. Default is ';'</documentation>
         </annotation>
      </attribute>
      <attribute name="target-dir" type="string">
         <annotation>
            <documentation>Directory into which will be report files written.</documentation>
         </annotation>
      </attribute>
   </complexType>
   <simpleType name="boolean">
      <union>
         <simpleType>
            <restriction base="boolean"/>
         </simpleType>
         <simpleType>
            <restriction base="string">
               <pattern value="[$#]\{.*\}"/>
            </restriction>
         </simpleType>
      </union>
   </simpleType>
   <element name="csv" type="rg:org-radargun-reporting-csv-csv-reporter"/>
   <!--From reporter-default-2.1.0.Final.jar-->
   <complexType name="org-radargun-reporting-html-html-reporter">
      <sequence maxOccurs="1" minOccurs="1">
         <element maxOccurs="1" minOccurs="0" name="target-dir" type="string">
            <annotation>
               <documentation>Directory to put the reports. Default is results/html.</documentation>
            </annotation>
         </element>
         <element maxOccurs="1" minOccurs="0" name="test-report" type="rg:org-radargun-reporting-html-report-document-configuration"/>
         <element maxOccurs="1" minOccurs="0" name="timeline" type="rg:org-radargun-reporting-html-timeline-document-configuration"/>
      </sequence>
      <attribute name="target-dir" type="string">
         <annotation>
            <documentation>Directory to put the reports. Default is results/html.</documentation>
         </annotation>
      </attribute>
      <attribute name="test-report-combined-tests" type="string">
         <annotation>
            <documentation>List of test names that should be reported together. Default is empty.</documentation>
         </annotation>
      </attribute>
      <attribute name="test-report-generate-node-stats" type="rg:boolean">
         <annotation>
            <documentation>Generate statistics for each node (expandable menu). Default is true.</documentation>
         </annotation>
      </attribute>
      <attribute name="test-report-generate-thread-stats" type="rg:boolean">
         <annotation>
            <documentation>Generate statistics for each thread (expandable menu). Default is false.</documentation>
         </annotation>
      </attribute>
      <attribute name="test-report-highlight-suspects" type="rg:boolean">
         <annotation>
            <documentation>Highlight suspicious results in the report. Default is true.</documentation>
         </annotation>
      </attribute>
      <attribute name="test-report-histogram-buckets" type="rg:int">
         <annotation>
            <documentation>Number of bars the histogram chart will show. Default is 40.</documentation>
         </annotation>
      </attribute>
      <attribute name="test-report-histogram-chart-height" type="rg:int">
         <annotation>
            <documentation>Height of the histogram chart in pixels. Default is 600.</documentation>
         </annotation>
      </attribute>
      <attribute name="test-report-histogram-chart-width" type="rg:int">
         <annotation>
            <documentation>Width of the histogram chart in pixels. Default is 800.</documentation>
         </annotation>
      </attribute>
      <attribute name="test-report-histogram-percentile" type="rg:double">
         <annotation>
            <documentation>Percentage of fastest responses that will be presented in the chart. Default is 99%.</documentation>
         </annotation>
      </attribute>
      <attribute name="test-report-percentiles" type="string">
         <annotation>
            <documentation>Show response time at certain percentiles. Default is 95% and 99%.</documentation>
         </annotation>
      </attribute>
      <attribute name="test-report-separate-cluster-charts" type="rg:boolean">
         <annotation>
            <documentation>Generate separate charts for different cluster sizes. Default is false.</documentation>
         </annotation>
      </attribute>
      <attribute name="timeline-chart-height" type="rg:int">
         <annotation>
            <documentation>Height of the chart in pixels. Default is 500.</documentation>
         </annotation>
      </attribute>
      <attribute name="timeline-chart-width" type="rg:int">
         <annotation>
            <documentation>Width of the chart in pixels. Default is 1024.</documentation>
         </annotation>
      </attribute>
   </complexType>
   <!--From reporter-default-2.1.0.Final.jar-->
   <complexType name="org-radargun-reporting-html-report-document-configuration">
      <sequence maxOccurs="1" minOccurs="1">
         <element maxOccurs="1" minOccurs="0" name="combined-tests" type="string">
            <annotation>
               <documentation>List of test names that should be reported together. Default is empty.</documentation>
            </annotation>
         </element>
         <element maxOccurs="1" minOccurs="0" name="generate-node-stats" type="rg:boolean">
            <annotation>
               <documentation>Generate statistics for each node (expandable menu). Default is true.</documentation>
            </annotation>
         </element>
         <element maxOccurs="1" minOccurs="0" name="generate-thread-stats" type="rg:boolean">
            <annotation>
               <documentation>Generate statistics for each thread (expandable menu). Default is false.</documentation>
            </annotation>
         </element>
         <element maxOccurs="1" minOccurs="0" name="highlight-suspects" type="rg:boolean">
            <annotation>
               <documentation>Highlight suspicious results in the report. Default is true.</documentation>
            </annotation>
         </element>
         <element maxOccurs="1" minOccurs="0" name="histogram-buckets" type="rg:int">
            <annotation>
               <documentation>Number of bars the histogram chart will show. Default is 40.</documentation>
            </annotation>
         </element>
         <element maxOccurs="1" minOccurs="0" name="histogram-chart-height" type="rg:int">
            <annotation>
               <documentation>Height of the histogram chart in pixels. Default is 600.</documentation>
            </annotation>
         </element>
         <element maxOccurs="1" minOccurs="0" name="histogram-chart-width" type="rg:int">
            <annotation>
               <documentation>Width of the histogram chart in pixels. Default is 800.</documentation>
            </annotation>
         </element>
         <element maxOccurs="1" minOccurs="0" name="histogram-percentile" type="rg:double">
            <annotation>
               <documentation>Percentage of fastest responses that will be presented in the chart. Default is 99%.</documentation>
            </annotation>
         </element>
         <element maxOccurs="1" minOccurs="0" name="percentiles" type="string">
            <annotation>
               <documentation>Show response time at certain percentiles. Default is 95% and 99%.</documentation>
            </annotation>
         </element>
         <element maxOccurs="1" minOccurs="0" name="separate-cluster-charts" type="rg:boolean">
            <annotation>
               <documentation>Generate separate charts for different cluster sizes. Default is false.</documentation>
            </annotation>
         </element>
      </sequence>
      <attribute name="combined-tests" type="string">
         <annotation>
            <documentation>List of test names that should be reported together. Default is empty.</documentation>
         </annotation>
      </attribute>
      <attribute name="generate-node-stats" type="rg:boolean">
         <annotation>
            <documentation>Generate statistics for each node (expandable menu). Default is true.</documentation>
         </annotation>
      </attribute>
      <attribute name="generate-thread-stats" type="rg:boolean">
         <annotation>
            <documentation>Generate statistics for each thread (expandable menu). Default is false.</documentation>
         </annotation>
      </attribute>
      <attribute name="highlight-suspects" type="rg:boolean">
         <annotation>
            <documentation>Highlight suspicious results in the report. Default is true.</documentation>
         </annotation>
      </attribute>
      <attribute name="histogram-buckets" type="rg:int">
         <annotation>
            <documentation>Number of bars the histogram chart will show. Default is 40.</documentation>
         </annotation>
      </attribute>
      <attribute name="histogram-chart-height" type="rg:int">
         <annotation>
            <documentation>Height of the histogram chart in pixels. Default is 600.</documentation>
         </annotation>
      </attribute>
      <attribute name="histogram-chart-width" type="rg:int">
         <annotation>
            <documentation>Width of the histogram chart in pixels. Default is 800.</documentation>
         </annotation>
      </attribute>
      <attribute name="histogram-percentile" type="rg:double">
         <annotation>
            <documentation>Percentage of fastest responses that will be presented in the chart. Default is 99%.</documentation>
         </annotation>
      </attribute>
      <attribute name="percentiles" type="string">
         <annotation>
            <documentation>Show response time at certain percentiles. Default is 95% and 99%.</documentation>
         </annotation>
      </attribute>
      <attribute name="separate-cluster-charts" type="rg:boolean">
         <annotation>
            <documentation>Generate separate charts for different cluster sizes. Default is false.</documentation>
         </annotation>
      </attribute>
   </complexType>
   <simpleType name="int">
      <union>
         <simpleType>
            <restriction base="integer"/>
         </simpleType>
         <simpleType>
            <restriction base="string">
               <pattern value="[$#]\{.*\}"/>
            </restriction>
         </simpleType>
      </union>
   </simpleType>
   <simpleType name="double">
      <union>
         <simpleType>
            <restriction base="double"/>
         </simpleType>
         <simpleType>
            <restriction base="string">
               <pattern value="[$#]\{.*\}"/>
            </restriction>
         </simpleType>
      </union>
   </simpleType>
   <!--From reporter-default-2.1.0.Final.jar-->
   <complexType name="org-radargun-reporting-html-timeline-document-configuration">
      <sequence maxOccurs="1" minOccurs="1">
         <element maxOccurs="1" minOccurs="0" name="chart-height" type="rg:int">
            <annotation>
               <documentation>Height of the chart in pixels. Default is 500.</documentation>
            </annotation>
         </element>
         <element maxOccurs="1" minOccurs="0" name="chart-width" type="rg:int">
            <annotation>
               <documentation>Width of the chart in pixels. Default is 1024.</documentation>
            </annotation>
         </element>
      </sequence>
      <attribute name="chart-height" type="rg:int">
         <annotation>
            <documentation>Height of the chart in pixels. Default is 500.</documentation>
         </annotation>
      </attribute>
      <attribute name="chart-width" type="rg:int">
         <annotation>
            <documentation>Width of the chart in pixels. Default is 1024.</documentation>
         </annotation>
      </attribute>
   </complexType>
   <element name="html" type="rg:org-radargun-reporting-html-html-reporter"/>
   <!--From reporter-default-2.1.0.Final.jar-->
   <complexType name="org-radargun-reporting-serialized-serialized-reporter">
      <sequence maxOccurs="1" minOccurs="1">
         <element maxOccurs="1" minOccurs="0" name="target-dir" type="string">
            <annotation>
               <documentation>Directory where the results should be stored. Default is results/serialized.</documentation>
            </annotation>
         </element>
      </sequence>
      <attribute name="target-dir" type="string">
         <annotation>
            <documentation>Directory where the results should be stored. Default is results/serialized.</documentation>
         </annotation>
      </attribute>
   </complexType>
   <element name="serialized" type="rg:org-radargun-reporting-serialized-serialized-reporter"/>
</schema>
